body {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	// font-family: "Lucida Console", "Courier New", monospace;

}

p {
	display: block;
	text-align: center;
	width: 100px;
	margin-left: 25%;
	// padding: 5px 20px;
	background: #f5f5f5;
	border: 1px solid #ddd;
	cursor: pointer;
}
// canvas {
// 	position: absolute;
// 	left: 500px;

// }
.canvas-img-div{
	// border: 1px solid #000;
	// float: left;
	width: 966px;
	left: 250px;

  }
.canvas {
	background: #fff0;
	// border: 1px solid #111;
	z-index : 1;
  }
//   .canvas2 {
// 	background: #ffa5;
// 	// border: 1px solid #111;
// 	z-index : 2;
	
//   }
  .canvas-div {
	top: 0;
	left: 100px;
	// border: 1px solid #000;

  }
//   .background {
// 	left: 250px;

//   }
  .robotImg {
	display: none;
  }
  
  ul {
	list-style-type: none;
	border: 1px solid #559;
	background: #a19be0;
	padding: 5px;
	overflow: auto;	//요소 가로정렬
	padding-left: 200px;

  }
  ul li {
	float: left;

	background: #fff;
	margin: 10px;
	  display: flex;	//요소 가로정렬
	// width: 8%;
  }
.robotId {
	font-size: 2em;
	// width: 60px;
	width: 30%;
	// height: 60px;
	padding-left: 0.2em;
	padding-right: 0.2em;
	text-align: center;		//텍스트 중앙
	// vertical-align: middle;
	line-height: 55px;		//높이와 같은 크기로
}
.robotServe{
	color: gray;
	// height: 20px;
}
.robotState{
	width: 6em;
	padding-top: 7px;
	padding-bottom: 5px;
	height: 45px;
	padding-right: 3px;
}
.robotPath{
	float: right;
	border: 1px solid #229;
	width: 25em; //400px 21%
	height: 625px;
	margin-right: 100px;
	font-size: 1em;
	text-align: left;
	text-indent: 30px;

}
.pathTitle {
	text-indent: 0px;
	font-size: 2em;
	letter-spacing: 0.1em;
	height: auto;
	text-align: center;
	border-bottom: 1px solid #229;
	padding: 5px;
	margin-bottom: 10px;
	background-color: #6986e0;
	color: #fff;
}